* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    div.logo-container {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

section#rulesDisplay {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    h3,
    p {
        text-align: center;
    }

    form#levelForm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        div.radio-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    form#customForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }

    button {
        font-size: 20px;
        padding: 10px;
    }
}

div#gameDisplay {


    div#headBoard {}

    div#minesDisplay {}

    div#faceDisplay {


        img {}
    }

    div#timerDisplay {}

    div#gridDisplay {
        display: grid;
        margin: auto;
        width: 450px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(9, 50px);
        border: 4px solid black;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            background-color: grey;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                visibility: hidden;
            }

            p {
                font-size: 25px;
                font-weight: bold;
                visibility: hidden;
            }
        }

        .mines1 p {
            color: blue;
        }

        .mines2 p {
            color: green;
        }

        .mines3 p {
            color: red;
        }

        .mines4 p {
            color: navy;
        }

        .mines5 p {
            color: brown;
        }

        .mines6 p {
            color: cadetblue;
        }

        .mines7 p {
            color: black;
        }

        .mines8 p {
            color: grey;
        }
    }
}