* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    border: 3px solid black;
    border-radius: 10px;

    div.logo-container {
        width: 70px;
        height: 70px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

section#rulesDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;

    h3,
    p {
        text-align: center;
    }

    form#levelForm {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

        div.radio-container {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    form#customForm {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }

    button {
        font-size: 20px;
        padding: 10px;
    }
}

div#gameDisplay {
    display: none;
    padding-top: 60px;

    div#headBoard {
        width: 50%;
        height: 80px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }

    div#minesDisplay,
    div#timerDisplay {
        border: 4px solid lightgrey;
        background-color: black;
        color: red;
        font-size: 75px;
        width: 30%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    div#faceDisplay {
        width: 90px;
        height: 90px;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    div#gridDisplay {
        display: grid;
        margin: auto;
        grid-template-columns: repeat(9, 50px);
        grid-template-rows: repeat(9, 50px);
        border: 4px solid black;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            background-color: grey;

            img.mine {
                width: 90%;
                height: 90%;
                object-fit: contain;
                visibility: hidden;
            }

            img {
                width: 90%;
                height: 90%;
                object-fit: contain;
            }

            p {
                font-size: 25px;
                font-weight: bold;
                visibility: hidden;
            }
        }

        .mines1 p {
            color: blue;
        }

        .mines2 p {
            color: green;
        }

        .mines3 p {
            color: red;
        }

        .mines4 p {
            color: navy;
        }

        .mines5 p {
            color: brown;
        }

        .mines6 p {
            color: cadetblue;
        }

        .mines7 p {
            color: black;
        }

        .mines8 p {
            color: grey;
        }
    }
}

dialog {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    padding: 5px;

    h4,
    p {
        text-align: center;
        padding: 5px 0;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
    }

    div.button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 5px 0;

        button {
            font-size: 15px;
            padding: 5px;
        }

        button#restart:hover {
            background-color: lightgreen;
        }

        button#quit:hover {
            background-color: lightcoral;
        }
    }
}